<html>
  <head>
    <!-- <link rel="stylesheet" href="/assets/pure-min.css"> -->
  </head>
  <body>
    <!-- calls getPerson().getFullName() and sanitizes it -->
    <div>
	  <h1 style="text-align:center;">Learn</h1>
	  <div style="width:80%;margin:0 auto;">
	    <h2>Admin Page</h2>
	    <p><a href="/v1/web/admin/add-question">Add questions (link)</a></p>
	    <p><a href="">Another link</a></p>
	  </div>
    </div>
  </body>
</html>