<html>
  <head>
    <!-- <link rel="stylesheet" href="/assets/pure-min.css"> -->
  </head>
  <body>
    <!-- calls getPerson().getFullName() and sanitizes it -->
    <div>
	  <h1 style="text-align:center;">Learn</h1>
	  <div style="width:80%;margin:0 auto;">
	    <!--
	    <#assign tags = questionsVerbal["tags"] />
	    <h2>${tags}</h2>
	    -->
	  </div>
    </div>
  </body>
</html>